/* Navigation Bar */
.navbar {
	padding: 8px 16px;
}

/* Top Spacing */
.top-spacing {
	margin-top: 15px;
}

/* Horizontal Rule */
hr {
	background-color: #aaa;
}

/* Pagination */
.pagination {
   justify-content: center;
}